
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f7abab;
}


.www{
  margin-top: 300px;
  position: relative;
  width: 368px;
}



.www .card .logo img{
  width: 70px;
  height: 40px;
  border-radius: 3px;
}



.swiper-button-next{
  left: 390px;
  opacity: 0.7;
  color: white;
  transition: all 0.3s ease;
}
.swiper-button-next::after{
  display: none;
}
